:root {
  --bg-main: rgba(0, 0, 0, 0.9);
  --white: #fff;
  /* --accent: #d7ee0a; */
  /* --accent: #dbf628c7; */
  --accent: #dbf628b4;
  --accent-s: #dbf62849;
  --index: calc(1vw + 1vh);
}
body {
  padding: 0;
  margin: 0;
  color: var(--white);
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.mainWrapper {
  padding: 100px 10px;
  margin: 0 auto;
  background-color: var(--bg-main);
  background-color: #232222e4;
  background-color: #232222f0;
}

.center-box {
  text-align: center;
  margin-bottom: calc(var(--index) * 5);
}
.blurBox {
  position: relative;
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff1f;
  backdrop-filter: blur(32px);
  z-index: 1;
  padding: 10px;
  color: var(--accent-s);
  height: calc(var(--index) * 21);
  border-left: 32px groove var(--accent);
}
.app-box,
.bottom-box {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;

  background-color: var(--accent);
  height: calc(var(--index) * 21);
  z-index: 2;

  position: relative;
}
.app-box {
  margin-top: calc(var(--index) * -16);
  backdrop-filter: blur(12px);
}
.bottom-box {
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 150px;
}

.bottom-box img {
  position: absolute;
  right: 0px;
  top: -50px;
  width: 110%;
  /* border-right: 2px groove var(--accent); */
}
.imgWrap {
  position: absolute;
  left: -10%;
  /* min-width: 200px; */
  bottom: 0px;
  width: 110%;
}
#big-letters {
  font-size: calc(var(--index) * 6);
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}
.big-letter {
  font-size: calc(var(--index) * 6);
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 25px 0px 35px rgba(0, 0, 0, 0.5);

  /* text-shadow: 5px 10px 0px #e60707; */
  color: #fff;
  color: var(--accent-s);
  margin-left: calc(var(--index) * -2.6);
}

.bottom-box {
  height: calc(var(--index) * 10);
}

/* -----btn link  */
a.btn-back {
  position: relative;
  display: block;
  align-self: stretch;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
  z-index: 100;
}
.btn-back {
}
.btn-back button {
  width: 100%;
  max-width: 500px;
  color: #1f1e1edc;
  margin: 0 auto;
  font-size: 1em;
  padding: 1em 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    #00000054,
    #999,
    #ffffff87,
    #999,
    #0000006c
  );

  box-shadow: -2px -2px 4px #99999944, 2px 2px 4px #000,
    -8px -8px 16px #3635351f, 8px 8px 16px #0000008e;
  border-radius: 35px;
  border: 2px solid #ffffff37;

  transition: 0.3s;
}
.btn-back button:hover {
  background: linear-gradient(
    90deg,
    #282c0ba9,
    #dbf62838,
    #dbf6284d,
    #dbf62847,
    #31350b46
  );
  color: #dbf628;
  box-shadow: -10px -10px 10px #6c6b6b0e, 10px -10px 10px #4b4a4a0e,
    0px 2px 2px #dbf628, 0px 2px 1px #110202, 10px 10px 10px #000000;
}
/* ---task */
.task-description {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 20px;
  background-color: #ffffff1f;
  backdrop-filter: blur(32px);
  padding: 20px 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: -2px -2px 3px #999999ac, 2px 2px 4px #000;
  border-right: 2px groove #d7ee0a;

  background: linear-gradient(
    125deg,
    /* #99999943,
    #99999955,
    #9999994b, */ transparent,
    transparent,
    #d7ee0a52
  );
}
.task-description p {
  align-self: center;
}
.task-description div {
  align-self: center;
}
@media (max-width: 370px) {
  .app-box,
  .bottom-box {
    height: calc(var(--index) * 10);
  }
  .app-box {
    margin-top: calc(var(--index) * -6);
    backdrop-filter: blur(12px);
  }
  .imgWrap {
    width: 150%;
    left: -50%;
  }
  .bottom-box img {
    width: 150%;
    left: -50%;
  }
  .mainWrapper {
    padding: 60px 10px;
  }
  .center-box {
    text-align: center;

    margin-bottom: calc(var(--index) * 5);
  }
  .bottom-box {
    margin-bottom: 130px;
  }
}
@media (max-width: 631px) {
  .bottom-box img {
    border-right: none;
  }
  .blurBox {
    border-left: 2px groove var(--accent);
  }
}
@media (max-width: 361px) {
  .center-box {
    margin-bottom: calc(var(--index) * 5);
  }
}
@media (max-width: 292px) {
  .center-box {
    margin-bottom: calc(var(--index) * 5);
  }
  .blurBox {
    height: calc(var(--index) * 17);
  }
  .bottom-box {
    margin-bottom: 100px;
  }
}
@media (max-width: 252px) {
  .center-box {
    margin-bottom: calc(var(--index) * 6);
  }
  .blurBox {
    height: calc(var(--index) * 13);
  }
}
@media (max-width: 211px) {
  .center-box {
    margin-bottom: calc(var(--index) * 8);
  }
  .bottom-box {
    margin-bottom: 50px;
  }
}
@media (max-width: 172px) {
  .center-box {
    margin-bottom: calc(var(--index) * 7);
  }
  .blurBox {
    height: calc(var(--index) * 10);
    width: 70%;
  }
}
@media (max-width: 147px) {
  .center-box {
    margin-bottom: calc(var(--index) * 10);
  }
  .mainWrapper {
    padding: 10px;
  }
  .big-letter {
    font-size: calc(var(--index) * 3);
    margin-left: calc(var(--index) * -2);
  }
  .blurBox {
    max-width: 70%;
  }
}
